{% extends 'base.html' %}

{% block title %}Photobay - Beautiful Photos by Motivated Photographers{% endblock %}

{% block content %}

<div class="w3-content" style="margin-top:65px; max-width:1500px">

    <div class="w3-container">
        <div class="w3-bar w3-light-grey w3-round w3-padding">
            <div class="w3-container w3-section">
                <form action="." method="get">
                    <input type="search" name="search" class="w3-input w3-left w3-border" placeholder="Search photos, categories, tags, cameras, locations or users..." style="width:70%; outline:none;" required {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}>
                    <button class="w3-button w3-green w3-right w3-hover-red" type="submit" style="width:30%; height:41px; outline:none;">Search <i class="fa fa-search"></i></button>
                </form>

                {% if request.GET.search %}
                <span class="w3-container">
                    <strong>Search resuts:</strong> {{ request.GET.search }} <a href="{% url 'browse' %}" class="w3-text-red" style="text-decoration: none; margin-left: 20px;"><i class="fa fa-remove"></i> clear</a>
                </span>
                {% endif %}

                {% if request.GET.category %}
                <span class="w3-container">
                    <strong>Category resuts:</strong> {{ request.GET.category }} <a href="{% url 'browse' %}" class="w3-text-red" style="text-decoration: none; margin-left: 20px;"><i class="fa fa-remove"></i> clear</a>
                </span>
                {% endif %}
            </div>
        </div>
    </div>

<!-- done upto here -->

<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-top:20px; margin-bottom:40px">
 
  <div class="w3-third">
    {% for item in data %}
    


   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="{{item.image.url}}" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   {% endfor %}
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/sound.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/woods.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/rock.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/nature.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/mist.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>

  </div>

  <div class="w3-third">
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/coffee.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
    
      <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/bridge.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/notebook.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/london.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/rocks.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/avatar_g.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
  </div>

  <div class="w3-third">
   
          <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/mist.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
      
        <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/workbench.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
        <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/gondol.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
       <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/skies.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
        <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/lights.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
          <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="images/workshop.jpg"><img class="w3-card" src="images/workshop.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
  </div>
  
</div>
<!-- grid end -->


<div class="w3-container w3-padding-large w3-section w3-center" style="margin-bottom:50px">    


      <a href="#" class="w3-btn w3-green">&laquo; Prev</a>
      <span class="w3-margin">
      Page <input class="w3-padding w3-center" type="number" value="1" style="width:100px">
      <span class=""> of 283</span>
      </span> 
      <a href="#" class="w3-btn w3-green">Next &raquo;</a>


</div>



</div>
<!-- End Page Content -->

{% endblock %}

