{% extends 'base.html' %}

{% block title %}Photobay - Beautiful Photos by Motivated Photographers{% endblock %}

{% block content %}


  
  
  
   
<!-- PAGE CONTENT -->
<div class="w3-content" style="margin-top:65px; max-width:1500px">


<!--filters -->
<div class="w3-container">

    <div class="w3-bar w3-light-grey w3-round w3-padding">
       
       <!--modes-->

       <div class="w3-dropdown-click w3-hide-small w3-margin">
        <button class="w3-btn w3-round w3-green" style="outline:none" onclick="stat_filter_drop()">Recent</button>
        
        <div class="w3-dropdown-content w3-bar-block w3-card w3-light-grey" id="stat_filter">
          <a class="w3-bar-item w3-button w3-gray">Recent</a>
          <a class="w3-bar-item w3-button">Most Viewed</a>
          <a class="w3-bar-item w3-button">Most Liked</a>
          <a class="w3-bar-item w3-button">Most Downloaded</a>
        </div>
        
      </div>
  
   
   
    <div class="w3-dropdown-click w3-hide-small w3-margin">
        <button class="w3-btn w3-round w3-green" style="outline:none" onclick="cat_filter_drop()">Categories</button>
        
        <div class="w3-dropdown-content w3-bar-block w3-card w3-light-grey" id="cat_filter">
          <input class="w3-input w3-padding" type="text" placeholder="Search.." id="cat_filter_input" onkeyup="cat_filter()">
          <a class="w3-bar-item w3-button w3-gray" href="#about">All</a>
          <a class="w3-bar-item w3-button" href="#about">About</a>
          <a class="w3-bar-item w3-button">Base</a>
          <a class="w3-bar-item w3-button" href="#blog">Blog</a>
          <a class="w3-bar-item w3-button" href="#contact">Contact</a>
          <a class="w3-bar-item w3-button" href="#custom">Custom</a>
          <a class="w3-bar-item w3-button" href="#support">Support</a>
          <a class="w3-bar-item w3-button" href="#tools">Tools</a>
        </div>
        
  </div>

   
   
    <div class="w3-dropdown-click w3-hide-small w3-hide-medium w3-margin">
        <button class="w3-btn w3-round w3-green" style="outline:none" onclick="ort_filter_drop()">Orientation</button>
        
        <div class="w3-dropdown-content w3-bar-block w3-card w3-light-grey" id="ort_filter">
          <a class="w3-bar-item w3-button w3-gray">Any</a>
          <a class="w3-bar-item w3-button">Portrait</a>
          <a class="w3-bar-item w3-button">Landscape</a>
        </div>
        
  </div>
  
  
      <div class="w3-dropdown-click w3-hide-small w3-hide-medium w3-margin">
        <button style="outline:none" class="w3-btn w3-round w3-red">Clear Filters</button>
        
  </div>
  <!--modes end -->
  
  
  
  <!--search box -->
  
  <div class="w3-container w3-right w3-margin">
      
        <input type="text" name="search" class="w3-input w3-padding-large w3-left w3-mobile" placeholder="Search photos..." style="width:70%; outline:none;" required>
        
        <button class="w3-btn w3-big w3-green w3-padding-large w3-mobile w3-right" type="submit" style="width:30%; outline:none;">Search <i class="fa fa-search"></i></button>
      
  </div>
  
  <!--search box end -->

  
  </div>
      
      <!--bar end -->
       
       <!-- display results -->
       <div class="w3-margin">
           Search Results for: Animals (displayed only if searched)
           
       </div> 
      
      <!-- display results end -->
</div>



<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-top:20px; margin-bottom:40px">
 
  <div class="w3-third">
  
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/rocks.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
    
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/sound.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/woods.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/rock.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/nature.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
   
   
   <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/mist.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>

  </div>

  <div class="w3-third">
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/coffee.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
    
      <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/bridge.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/notebook.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/london.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/rocks.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/avatar_g.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
  </div>

  <div class="w3-third">
   
          <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/mist.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
      
        <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/workbench.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
        <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/gondol.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
       <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/skies.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
        <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="#"><img class="w3-card" src="images/lights.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
          <div class="w3-display-container w3-opacity-min w3-hover-opacity-off">
       <a href="images/workshop.jpg"><img class="w3-card" src="images/workshop.jpg" style="width:100%"></a>
       
       <div class="w3-display-bottomleft w3-display-hover w3-margin">
       <a href="#" class="w3-button w3-round w3-white"><i class="fa fa-user"></i> Baley Sarkar</a>
       </div>
       
       <div class="w3-display-bottomright w3-hide-medium w3-display-hover w3-margin">
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-red w3-text-red" style="cursor:auto;"> <i class="fa fa-heart"></i>  24</span>
       <span class="w3-button w3-white w3-round w3-hover-white w3-hover-text-green w3-text-green" style="cursor:auto;"> <i class="fa fa-download"></i>  27</span>    
       </div>
       
   </div>
   
  </div>
  
</div>
<!-- grid end -->


<div class="w3-container w3-padding-large w3-section w3-center" style="margin-bottom:50px">    


      <a href="#" class="w3-btn w3-green">&laquo; Prev</a>
      <span class="w3-margin">
      Page <input class="w3-padding w3-center" type="number" value="1" style="width:100px">
      <span class=""> of 283</span>
      </span> 
      <a href="#" class="w3-btn w3-green">Next &raquo;</a>


</div>



</div>
<!-- End Page Content -->

{% endblock %}

