{% extends 'base.html' %}

{% block title %}Photobay - Beautiful Photos by Motivated Photographers{% endblock %}

{% block content %}

<div class="w3-display-container w3-center"  style="margin-top:46px">
    <img class="w3-image w3-opacity" src="{{ home.image.url }}" style="height:500px; width:100%">

    <div class="w3-display-middle w3-center w3-container">
        <h2 class="w3-hide-medium w3-hide-small w3-padding-24">Stunning images by Motivated photographers</h2>
        <h2 class="w3-hide-large w3-hide-small w3-padding-24" style="width:500px;">Stunning images by Motivated photographers</h2>
        <h3 class="w3-hide-large w3-hide-medium" style="width:350px;">Stunning images by Motivated photographers</h3>

        <input type="text" name="search" class="w3-input w3-padding-large w3-left w3-mobile" placeholder="Search photos..." style="width:70%; outline:none;" required>

        <button class="w3-btn w3-big w3-green w3-padding-large w3-mobile w3-right" type="submit" style="width:30%; outline:none;">
            Search <i class="fa fa-search"></i>
        </button>

        <p class="w3-left w3-padding-large">
            Popular Searches:   #ABC  #ABC  #ABC    #ABC    #ABC    #ABC  #ABC   #ABC   #ABC
        </p>
    </div>

    <div class="w3-display-bottommiddle w3-container w3-padding-16">
        image :  
        <a style="text-decoration: none;" class="w3-text-green w3-hover-text-red" href="#">{{ home.user.username }}</a>
    </div>

</div>

<div class="w3-content" style="max-width:1500px">

    <section class="w3-container w3-section" id="photos">
        {% for item in data %}
    
          <div class="w3-display-container" style="margin-top: 5px;">
            <div class="img-container">
    
              <a href="{% url 'single' item.user.username item.slug %}">
                <img src="{{ item.image.url }}">
              </a>
    
              <div class="w3-display-bottomleft w3-display-hover w3-margin">
                <a href="/photobay" class="w3-text-white" style="text-decoration: none;"> <i class="fa fa-user"></i> {{ item.user.username }}</a>
              </div>
    
              <div class="w3-display-bottomright w3-display-hover w3-margin">
                <span class="w3-text-white"> <i class="fa fa-heart"></i> {{ item.like_set.all.count }}</span>
              </div>
    
            </div>
          </div>
    
        {% endfor %}
      </section>

    <div class="w3-container w3-padding-large w3-section w3-center">
        <a href="{% url 'browse' %}" class="w3-btn w3-padding-large w3-large w3-round w3-green" style="margin-bottom:50px">Discover All Images</a>
    </div>

</div>

{% endblock %}