{% load static %}

<div class="w3-col s12 m12 l4">

  <div class="w3-container w3-card w3-round">
    <h4 class="w3-center">Baley Sarkar</h4>
    <p class="w3-center"><img src="{% static 'images/img_avatar4.png' %}" class="w3-circle" style="width:30%"></p>

    <hr/>
    
    <p><i class="fa fa-pencil fa-fw w3-margin-right"></i> Designer</p>
    <p><i class="fa fa-home w3-margin-right"></i> Kathmandu, Nepal</p>
    <p><i class="fa fa-birthday-cake w3-margin-right"></i> April 1, 2000</p>
  </div>

  <div class="w3-card w3-round w3-section">
    <button style="outline:none;" onclick="user_acc('not')" class="w3-button w3-block w3-left-align w3-light-grey"><i class="fa fa-bell w3-margin-right"></i> My Notifications <span class="w3-circle w3-small w3-badge w3-red">1</span></button>
    <div id="not" class="w3-hide w3-container">
      <p>Some text..</p>
    </div>

    <button style="outline:none;" onclick="user_acc('liked')" class="w3-button w3-block w3-left-align w3-light-grey"><i class="fa fa-heart w3-margin-right"></i> I Liked <span class="w3-circle w3-small w3-badge w3-green">34</span></button>
    <div id="liked" class="w3-hide w3-container">
      <p>Some other text..</p>
    </div>

    <button style="outline:none;" onclick="user_acc('saved')" class="w3-button w3-block w3-left-align w3-light-grey"><i class="fa fa-save w3-margin-right"></i> I Saved <span class="w3-circle w3-small w3-badge w3-green">34</span></button>
    <div id="saved" class="w3-hide w3-container">
      <p>Some other text..</p>
    </div> 
  </div>

</div>