{% extends 'base.html' %}

{% block title %}User Dashboard - Photobay{% endblock %}

{% block content %}

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    

  {% include 'users/sidebar.html' %} 
    
    <!-- Middle Column -->
    <div class="w3-col s12 m8 l8">

           
           <!--menu -->
           
            <div class="w3-container w3-round w3-light-grey w3-margin">

               
               <button style="outline:none;" class="w3-btn w3-section w3-mobile w3-round w3-padding-large w3-green">Back to Dashboard</button>
               
               
                </div>
     
      <!--menu end-->

    
 
     
     
     <div class="w3-container w3-margin w3-padding">
         
         Add/Edit (action) :
         
         
          <form class="w3-container" method="post" action="#">
                <div class="w3-section">
                
                <label><b>Photo</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="file" placeholder="Choose photo" name="photo" required>
                
                <label><b>Title</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Full title" name="title" required>
                
                <label><b>Camera</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter cam" cam="cam">
                
                
                <label><b>Location</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="loc" name="loc">
                
                <label><b>Topic</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="topic" name="topic" required>
                
                <label><b>Categories</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Separate with commans" name="cat">
                
                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Save</button>
                
                </div>
                </form>
         
         
         
         
     </div>
     
      
      
    <!-- End Middle Column -->
    </div>
  </div>
 
  {% endblock %}