{% extends 'base.html' %} {% load static %}

{% block title %}User Dashboard - Photobay{% endblock %}

{% block content %}

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    

  {% include 'users/sidebar.html' %}

  <div class="w3-col s12 m8 l8">

    <div class="w3-container w3-round w3-light-grey w3-margin">
      <a href="{% url 'upload' %}" class="w3-button w3-section w3-hover-red w3-mobile w3-round w3-padding-large w3-green">Upload</a>
      <a href="{% url 'edit_profile' %}" class="w3-button w3-section w3-hover-red w3-mobile w3-round w3-padding-large w3-green">Profile</a>
      <a href="{% url 'logout' %}" class="w3-button w3-section w3-hover-red w3-mobile w3-round w3-padding-large w3-green">Logout</a>
    </div>
  
  <div class="w3-container" style="margin-bottom: 30px;">
    <form action="." method="get">
      <input type="search" name="search" class="w3-input w3-left w3-border" placeholder="Search photos..." style="width:70%; outline:none;" required {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}>
      <button class="w3-button w3-green w3-right w3-hover-red" type="submit" style="width:30%; height:41px; outline:none;">Search <i class="fa fa-search"></i></button>
    </form>

    {% if request.GET.search %}
      <span class="w3-container">
        <strong>Search resuts:</strong> {{ request.GET.search }} <a href="{% url 'dashboard' %}" class="w3-text-red" style="text-decoration: none; margin-left: 20px;"><i class="fa fa-cross"></i>Clear</a>
      </span>
    {% endif %}
  </div>

  {% if no_posts_found %}
    <div class="w3-container w3-card w3-round w3-border w3-pale-red w3-margin">
      <p>No photos found. You can search using,
        <ul>
          <li>Title</li>
          <li>Category</li>
          <li>Camera</li>
          <li>Location</li>
          <li>Tags</li>
        </ul>
      </p>
    </div>
  {% endif %}

  {% for item in data %}

  <div class="w3-container w3-card w3-round w3-border w3-margin">

    <div class="w3-half w3-padding w3-center" style="max-height: 400px;">
      <img src="{{ item.image.url }}" style="max-height: 100%;" class="w3-image w3-round w3-border w3-section">
    </div>

    <div class="w3-half w3-padding">
      <table class="w3-table w3-section w3-bordered">
        <tr>
          <td>Title</td>
          <td>{{ item.title }}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{ item.image_type }}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{ item.uploaded_on }}</td>
        </tr>
        <tr>
          <td>Camera</td>
          <td>{{ item.camera }}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{ item.location }}</td>
        </tr>
      </table>
      <a href="{% url 'edit' item.slug %}" style="text-decoration:none;" class="w3-text-green w3-hover-text-red"><i class="fa fa-pencil"></i> Edit Details</a>
    </div>

    <div class="w3-container w3-center w3-section">
      <hr/>
      <span class="w3-margin-right w3-hide-small"><i class="fa fa-eye"></i> {{ item.views_count }} Views</span> 
      <span class="w3-text-red w3-margin-right"><i class="fa fa-heart"></i> {{ like_count }} Likes</span> 
      <span class="w3-text-green"><i class="fa fa-download"></i> {{ item.download_count }} Downloads</span> 
    </div>

  </div>

  {% endfor %}
  

<!-- Pagination Starts -->
{% if data.paginator.num_pages > 1 %}

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

      {% if data.number != 1 %}
          <li class="page-item"><a class="page-link" href="{{ base_url }}page=1">First</a></li>
      {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
      {% endif %}

      {% if data.has_previous %}
          <li class="page-item"><a class="page-link" href="{{ base_url }}page={{ data.previous_page_number }}">&laquo; Previous</a></li>
      {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
      {% endif %}

      {% for i in data.paginator.page_range %}
          {% if data.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
          {% elif page.number > i|add:"-5" and page.number < i|add:"+5"%}
              <li class="page-item"><a class="page-link" href="{{ base_url }}page={{ i }}">{{ i }}</a></li>
          {% endif %}
      {% endfor %}

      {% if data.has_next %}
          <li class="page-item"><a class="page-link" href="{{ base_url }}page={{ data.next_page_number }}">Next &raquo;</a></li>
      {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
      {% endif %}

      {% if data.paginator.num_pages != data.number %}
          <li class="page-item"><a class="page-link" href="{{ base_url }}page={{ data.paginator.num_pages }}">Last</a></li>
      {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
      {% endif %}
            
    </ul>
</nav>

{% endif %}
<!-- Pagination Ends -->

 

</div>

</div>
 
{% endblock %}